APScheduler==3.10.1
charset-normalizer==3.1.0
confluent-kafka==2.1.1
fastapi==0.99.1
fastapi-mqtt==1.1.1
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.5
pymongo==4.4.0
pyserial==3.5
PyYAML==6.0
requests==2.31.0
uvicorn==0.22.0
